
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/*.container
{
    display: flex;
   

    flex-wrap: wrap;
}*/

*{ 
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
}
.txt{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    /*position: absolute;*/
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: black;
    font-size: 50px;
    
}

.context dl
{
    text-align: center;
}
.area{
    /*background:white;  */
    /*background: -webkit-linear-gradient(to left,aqua,aquamarine );  */
    width: 100%;
    height: 250vh;
    /*height:350vh;*/
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    overflow: hidden;
}
.area h1{
    text-align: center;
    /*color: black;*/
    font-size: 35px;
    
}
.area p{
    text-align:center;
    
    text-indent: 30px;
  text-transform: uppercase;
    font-size: 15px;
    
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    
    background: rgba(255, 255, 255, 0.7);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250vh;
    overflow: hidden;
}

.circles1 li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.9);
    animation: animate 25s linear infinite;
    bottom: -250px;
    
}
.circles1 li:nth-child(1){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles1 li:nth-child(2){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles1 li:nth-child(3){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles1 li:nth-child(4){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles1 li:nth-child(5){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles1 li:nth-child(6){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles1 li:nth-child(7){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles1 li:nth-child(8){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles1 li:nth-child(9){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles1 li:nth-child(10){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles1 li:nth-child(11){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles1 li:nth-child(12){
    left: 50%;
    width: 250px;
    height: 250px;
    animation-delay: 15s;
    animation-duration: 45s;
}


.circles1 li:nth-child(13){
    left: 105%;
    width: 250px;
    height: 250px;
    animation-delay: 2s;
    animation-duration: 35s;
}
*:before, *:after {
    box-sizing: inherit;
  }
  
  .site-wrap2 h1 {
    margin-top: 0;
  }
  .site-wrap2 p
  {
    margin: 0;
  
  }
  .align-left2 {
    float:left;
    margin: 60px 20px 30px 20px;

    /*margin: 40px 30px 20px 20px;*/
    /*margin-right:20px;*/
      transform: translateX(-100%);
  }
  
  .align-right2 {
    float:right;
    padding: 12px;
    margin-left:60px 50px 50px 50px;
    transform: translateX(100%);
  }
  .slide-in2 {
  opacity:0;
  transition:1s;
  }
  .active {
  opacity:1;
  transition: transform .5s;
  -webkit-transition: transform .5s;
  transform: translateX(0%);
  
  }
  

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
  }
  @media screen and (max-width: 400px) {
    .area
    {
        height:310vh;   
    }

    .area h1{
        text-align: center;
        color: #fff;
        font-size: 25px;
        
    }
}



/* app.css code*/





* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.footer-top {
  margin: 0;
  padding: 0.1rem 0;
  background-color: #01bf71;
}
.footer-top p {
  font-size: 18px;
}
.footer-text {
  margin-top: 2.5px;

  font-size: 18px;
  color:#919191;
}
footer {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem 0;
  background-color:#010606;
}
.margin_footer
{
  margin-left:130px;
}
body{
  /*background: linear-gradient(to bottom-right, #787eeb, #7177f7);  
  background-image: linear-gradient(to right ,#65CCB8,#14A098);*/
  /*background-color: #14A098;*/
  /*background-image: linear-gradient(to right ,#E7717D,#E37FBA);
  background-image: linear-gradient(to right ,#A8D0E6,#374785);*/
  background-color:white;
}
.container {
 
          display: flex;
          flex-wrap:  wrap;
          
          
  }
  
 .cont-about
{  
  /*background-image: linear-gradient(to right ,#88BDBC,#E37FBA);
  background-image: linear-gradient(to right ,#8f94fb,#374785);*/
  background: linear-gradient(to right, #8f94fb, #7279f4);  

  /*background-image: linear-gradient(to right ,rgb(36, 35, 36), rgb(113, 244, 66));*/
  margin-top: 2px;
  } 
  .ser_back
  {/*background-color: #88BDBC;*/
    background-image: linear-gradient(to right ,#88efea,#254E58);
  }
  .mission_back
  {   
    background-image: linear-gradient(to right ,#E37FBA,#E7717D);
    /*background-color:#88BDBC;*/
  }
  .abt_back
  {
    background-image: linear-gradient(to right,#E37FBA,white);
  }
.side1 {
  width: 100%;
}
.side2 {
  width: 50%;

}

.rowbgcolor
{background-color:010606 ;}
footer .col-md-3 {
  height: 100%;
}
footer .logo {
  transition: all 0.2s;
  margin-bottom: 0;
  align-items: center;
  align-content: center;
  color: rgb(243, 243, 243);
  letter-spacing: 2px;
  font-weight: 400;

  font-size: 28px;
}
.logo a{
  text-decoration: none;
  color: #fafafa;
  
}
.footer-title {
  color: #fafafa;
  
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0;
  word-wrap:initial;
}
footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 2.5px;
  
}
footer ul li a {
  text-decoration: none;
  color: #919191;
  font-size: 18px;
  font-weight: 500;
}
.gotop {
  transition: all 0.2s;
  background-color: #01bf71;
  position: fixed;
  border-radius: 25px;
  padding: 1rem;
  border: 0;
  opacity: 0;
  outline: 0;
  cursor: pointer;
  font-weight: 1000;
  box-shadow: 0px 0px 5px 0.2px #000000;
  color: white;
  bottom: 20px;
  right: 15px;
  
}
/*.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 text-align: center;

width: 22rem;
background-color:white;
}*/

 input[type=submit] {
  background-color:rgb(219, 20, 173);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}
.flex-container {
  display: flex;
  /*height:1200px;
  flex-wrap: wrap;*/
  justify-content: center;
 margin: 5px;

  align-content: space-between;
  /*overflow: scroll;
  background-color: DodgerBlue;*/
}
.flex-container > .row
{
  flex-direction:row; 
  margin: 10px;
  text-align: center;
  line-height: 18px;
  justify-content: center;
  height:1200px;
  flex-wrap: wrap;
 
  
}
.bgcol
{
  background-color: #61dafb;
}
.flex-container > .col
{ 
  flex-direction:column;
 
  color: red;
  text-align: center;
  }

.row > div {
  background-color: #f1f1f1;
  
  margin: 5px;
  text-align: center;
  line-height: 18px;
  
} 
.about_box {
  border: 1px solid;
  /*padding: 10px;*/
  box-shadow: 5px 10px 8px #888888;
  width: 99%;
  margin: 5px;
  
}
.about_box .abt_txt
{
  width:75%;
  
  
}
.abt_img
{
  width:75%;
  height: 350px;
 /* margin-left: 50px*/
  
}
.abt_Img
{
  width:75%;
  height: 350px;
}
 .img_head1
{
    width:100%;  
    height:430px;
}
.img_head2
{
    width:250px;  
    height:105px;
}
.h1-vision
{
    font-size: 50px;
}

 .carousel-indicators button
{
  display: none;
}

/*
 .carousel-control-prev {
  display: none;
  visibility: hidden;
}

.carousel-control-next {
  display: none;
  visibility: hidden;
}
*/
@media screen and (max-width: 400px) {
  .align-left2 {
    float:left;
    margin: 0px 0px 0px 0px;

    /*margin: 40px 30px 20px 20px;*/
    /*margin-right:20px;*/
      transform: translateX(-100%);
  }
  
  .align-right2 {
    float:right;
    padding: 5px;
    margin-left:0px 0px 0px 0px;
    transform: translateX(100%);
  }
  .abt_Img
{
  width:55%;
  height: 250px;
}

  .align-right {
    
    margin-left:20px;
    
  }
   .btn  
  {
    height: 60px;
    width: 140px;
  }
 .abt_img
{
  width:85%;
  height: 250px;
 margin-left: 16px;
 
}
.abt_i{margin-bottom: 50px;}
.h1-vision
{
    font-size: 30px;
}

.about_box
{
    width: 91%;
    
}
/*.card
{
    width: 8rem;
    
}*/
.bg-text img
{
    width:170px;  
    height:95px;
}

.abt_txtnew
{
font-size: 15px;
}
.btn_client
{
  background-color:cornflowerblue;
  border: white;
  margin: 10px;
  /*margin-left: 360px;*/
 
  width:105px;
  height: 35px;
}
.btn_explr
{
  background-color:black;
  border: black;
  /*margin-right: 110px;*/
  margin: 10px;
  width:105px;
  height: 35px;
}
.margin_footer
{
  margin-left:0;
}

}
@media screen and (max-width: 700px) {
  .flex-container>.row {   
    flex-direction: column;
  }
  .flex-container-about 
  {
    flex-direction: column;
  }
  .flex-container-about > .about_row
  {
    flex-direction: column;
  }
  .flex-container-about >.about_row > div.slide-left
  {
    flex-direction: column;
  }
  
  .flex-container-vision > .about_row
  {
    flex-direction: column;
    }
    .flex-container-vision > .about_row table  td
    {
      flex-direction: column;
    }
    .flex-container-vision > .about_row table p
    {
      flex-direction: column;
    }
    
}
/*@media screen and (max-width: 700px) {
.about_text
  { 
    color:black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 font-size:5px;
}
}*/
.flex-container-about{
  display: flex;
  height:700px;
  flex-direction:row; 
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  /*background-color: #19c2ec;*/
 /* align-content: space-between;*/
  /*overflow: scroll;
  background-color: DodgerBlue;*/
} 
 *:before, *:after {
  box-sizing: inherit;
}

.site-wrap h1 {
  margin-top: 0;
}
.site-wrap p
{
  margin: 0;

}
.site-wrap {
  max-width: 700px;
  margin: 32px auto;
  /*background:white;*/
  padding:28px;
  text-align: justify;
}
.align-left {
  float:left;
  /*margin: 150px;*/
  margin: 65px 30px 20px 5px;
  /*margin-right:20px;*/
    transform: translateX(-110%);
}

.align-right {
  float:right;
  /*margin: 105px 115px 120px 20px;*/

margin-left:20px;
  transform: translateX(110%);
}
.slide-in {
opacity:0;
transition:1s;
}
.active {
opacity:1;
transition: transform .5s;
-webkit-transition: transform .5s;
transform: translateX(0%);

}


/*@media screen and (max-width: 500px) {
  .site-wrap img 
  {
    width: 45%;
  }

}*/
 .about_row
{
  /*flex-direction:row; 
  margin:5px;*/
  text-align: center;
  
  justify-content: center;
  
}
.about_row > div
{
  /*flex-direction:row; */

  /*bottom: 0;*/
  text-align: center;
 /* margin: 10px;*/
  justify-content: center;

}

.about_row .slide-right
  {
    width: 100%;
  }
  
  /***** Slide Right *****/
  .about_row .slide-right {
    animation: 3s slide-right;
  }
  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
  .about_row .slide-left {
    width: 100%;
    
  }
  .about_row .slide-left {
    animation: 3s slide-left;
  }
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  
  
  .about_row .slide-right2
  {
    width: 100%;
    margin: 0;
  }
  
  /***** Slide Right *****/
  .about_row .slide-right2 {
    animation: 3s slide-right2;
  }
  @keyframes slide-right2 {
    from {
      margin-left: -50%;
    }
    to {
      margin-left: 0%;
    }
  }
  .about_row .slide-left2 {
    width: 98%;
    margin: 0;
    
  }
  .about_row .slide-left2 {
    animation: 3s slide-left2;
  }
  @keyframes slide-left2 {
    from {
      margin-left: 50%;
    }
    to {
      margin-left: 0%;
    }
  }
  

ul
{
  
  list-style-type: none;
}
ul li
{ 
  float: left;
  margin: 5px;
}
 
/*<div className="div_col" style={{justifyItems:'center'}}><h4 style={{margin:'5px'}}></h4></div>*/
  .div {
  /*width: 300px;
  height: 300px;*/
  
  width: 250px;
  height: 315px;
  
  
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: width 2s height 4s;
  }
  .div:hover {
    width: 250px;
    height: 350px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .div_col{
      width: 309px;
      
      
      
      background-image: linear-gradient(to right ,#88efea,#12cbc2);

      
      
      }
  .flex-container-vision{
    display: flex;
    height:300px;
    flex-wrap: wrap;
    flex-direction:row; 
    justify-content: center;
    margin: 10px;
    margin-top: 10px;
    /*background-color: #19c2ec;*/
    align-content: space-between;
    /*overflow: scroll;
    background-color: DodgerBlue;*/
  } 
  .flex-container-vision > .about_row
  {
    flex-direction:row; 
    margin:5px;
    text-align: center;
    
    justify-content: center;
    
  }
  .about_row > div
  {
    text-align: center;
    margin: 10px;
    
  }
  
  
  
  .nav_round
  {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

  }
  #nav-dropdown {
    color: white;
    /*font-weight: bold;*/
    
}
  .nav_color
  {  
     color: #61dafb;
     
    
  }
  .about_color
  {
    color:rgb(63, 120, 224)
    ;
    
  }
  .who_we
  {
    color:#E37FBA;
    padding: 10px;
    margin: 5px;
  }
  .about_text
  { 
    color:black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 font-size:20px;
}
.btn_about
{
  background-color:lawngreen;
  border: white;
  border-radius: 15%;
  width:165px;
  height: 55px;

}
.btn_align
{
display: flexbox;
  flex-direction: row;
}
.nav_align
{
  float: right;
  
}

.btn_client
{
  background-color:cornflowerblue;
  border: white;
  margin: 10px;
  /*margin-left: 360px;*/
 
  width:165px;
  height: 52px;
}
.btn_explr
{
  background-color:black;
  border: black;
  /*margin-right: 110px;*/
  margin: 10px;
  width:165px;
  height: 52px;
}
  .about_text2
  {color:brown;}
  .vision_text
  {
    color: black;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
  }
  
  .cust
  {
    color:#E37FBA;
    padding: 10px;
    margin: 5px;
    
  }
  .cust_back
  {
    background-color:#EDEAE5;
  }

  .dark
  {
    color: black;
    font-size: 22px;

 }
 .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

